parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method object\\:\\:deleteMessageByFilename\\(\\)\\.$#"
			count: 1
			path: Classes/Controller/AjaxController.php

		-
			message: "#^Call to an undefined method object\\:\\:deleteMessages\\(\\)\\.$#"
			count: 1
			path: Classes/Controller/AjaxController.php

		-
			message: "#^Call to an undefined method object\\:\\:getMessageByFilename\\(\\)\\.$#"
			count: 1
			path: Classes/Controller/AjaxController.php

		-
			message: "#^Call to an undefined method object\\:\\:getMessages\\(\\)\\.$#"
			count: 1
			path: Classes/Controller/BackendController.php

		-
			message: "#^Call to an undefined method object\\:\\:loadRequireJsModule\\(\\)\\.$#"
			count: 1
			path: Classes/Controller/BackendController.php

		-
			message: "#^Call to an undefined method object\\:\\:run\\(\\)\\.$#"
			count: 1
			path: Classes/Controller/BackendController.php

		-
			message: "#^Method Xima\\\\XmMailCatcher\\\\Domain\\\\Model\\\\Dto\\\\MailMessage\\:\\:loadFromJson\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Domain/Model/Dto/MailMessage.php

		-
			message: "#^Call to an undefined method object\\:\\:get\\(\\)\\.$#"
			count: 2
			path: Classes/Utility/LogParserUtility.php

		-
			message: "#^Method Xima\\\\XmMailCatcher\\\\Utility\\\\LogParserUtility\\:\\:getMessages\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Utility/LogParserUtility.php

		-
			message: "#^Method Xima\\\\XmMailCatcher\\\\Utility\\\\LogParserUtility\\:\\:removeFirstThreeLines\\(\\) has parameter \\$string with no type specified\\.$#"
			count: 1
			path: Classes/Utility/LogParserUtility.php

		-
			message: "#^Parameter \\#1 \\$input of function array_filter expects array, array\\<int, string\\>\\|false given\\.$#"
			count: 2
			path: Classes/Utility/LogParserUtility.php

		-
			message: "#^Parameter \\#1 \\$json of function json_decode expects string, string\\|false given\\.$#"
			count: 1
			path: Classes/Utility/LogParserUtility.php

		-
			message: "#^Parameter \\#1 \\$msg of static method Xima\\\\XmMailCatcher\\\\Utility\\\\LogParserUtility\\:\\:convertToDto\\(\\) expects string, array\\|string\\|null given\\.$#"
			count: 1
			path: Classes/Utility/LogParserUtility.php

		-
			message: "#^Parameter \\#2 \\$content of static method TYPO3\\\\CMS\\\\Core\\\\Utility\\\\GeneralUtility\\:\\:writeFileToTypo3tempDir\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: Classes/Utility/LogParserUtility.php

		-
			message: "#^Property Xima\\\\XmMailCatcher\\\\Utility\\\\LogParserUtility\\:\\:\\$fileContent \\(string\\) does not accept string\\|false\\.$#"
			count: 1
			path: Classes/Utility/LogParserUtility.php

		-
			message: "#^Property Xima\\\\XmMailCatcher\\\\Utility\\\\LogParserUtility\\:\\:\\$messages \\(array\\<Xima\\\\XmMailCatcher\\\\Domain\\\\Model\\\\Dto\\\\MailMessage\\>\\) does not accept array\\<Xima\\\\XmMailCatcher\\\\Domain\\\\Model\\\\Dto\\\\MailMessage\\|null\\>\\.$#"
			count: 1
			path: Classes/Utility/LogParserUtility.php
