<div class="container">
	<div class="row justify-content-md-center">
		<div class="col col-lg-2"></div>
		<div class="col col-lg-10">
			<h1>Mail Log</h1>
		</div>
	</div>
	<div class="row justify-content-md-center">
		<div class="col col-lg-2">
			<ul class="list-group">
				<li class="list-group-item">Inbox (<span class="message-count">{mails->f:count()}</span>)
				</li>
			</ul>

			<div class="text-center">
				<button type="button" class="btn btn-danger" id="delete-all-messages">
					<core:icon identifier="actions-delete" size="small"/>
					Delete all messages
				</button>
			</div>

		</div>
		<div class="col col-lg-10">

			<div class="infobox hidden" data-message-count="{mails->f:count()}">
				<f:be.infobox title="No messages" state="-1">There are currently no messages to display</f:be.infobox>
			</div>

			<f:if condition="{mails}">
				<div class="panel-group panel-hover" id="messages">
					<f:for each="{mails}" iteration="i" as="mail">
						<div class="form-irre-object panel panel-default panel-condensed panel-visible" data-message-file="{mail.fileName}" data-html-loaded="false">
							<div class="panel-heading" id="h{i.cycle}">
								<div class="form-irre-header">
									<div class="form-irre-header-cell form-irre-header-body" aria-expanded="false">
										<div class="form-irre-header-body"
											 data-bs-toggle="collapse"
											 data-bs-target="#m{i.cycle}">
											<strong>{mail.displayFromAddress}</strong><br/>
											<span>{mail.subject}</span>
										</div>
									</div>
									<div class="form-irre-header-cell form-irre-header-control">
										<div class="btn-group btn-group-sm" role="group">
											<button type="button"
													class="btn btn-default"
													title="Delete mail"
													data-delete>
												<core:icon identifier="actions-delete" size="small"/>
												</span>
											</button>
										</div>
									</div>
								</div>
							</div>
							<div id="m{i.cycle}" class="panel-collapse collapse">
								<div class="tab-content">
									<div class="tab-header">
										<div class="row">
											<div class="col-sm-8">
												<span><strong>To:</strong>
													{mail.displayToAddress}<br/><strong>Date:</strong>
													<f:format.date format="H:i, d.m.Y">{mail.date}</f:format.date>
												</span>
											</div>
											<div class="col col-sm-4 text-right">
												<div class="btn-group content-type-switches">
													<a class="btn btn-primary"
													   data-content-type="plain"
													   data-m-id="{i.cycle}">Plain
													</a>
													<a class="btn btn-default"
													   data-content-type="html"
													   data-m-id="{i.cycle}">HTML
													</a>
												</div>
											</div>
										</div>
									</div>
									<div class="form-section" data-content-type="plain" data-m-id="{i.cycle}">
										<p>{mail.bodyPlain->f:format.nl2br()}</p>
									</div>
									<div class="form-section hidden" data-content-type="html" data-m-id="{i.cycle}">
										<div class="loading">
											<core:icon identifier="spinner-circle-dark" size="default"/>
										</div>
									</div>
								</div>
							</div>
						</div>
					</f:for>
				</div>
			</f:if>
		</div>
	</div>
</div>

<style>
	.tab-header {
		background: #fff;
		padding: 10px;
	}

	.btn-outline-primary:hover {
		color: #fff;
	}

	.loading {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 200px;
	}

	.infobox[data-message-count="0"] {
		display: block !important;
	}

	#delete-all-messages {
		margin-top: 30px;
	}
	
	.form-irre-header-body {
		cursor: pointer;
	}
</style>
